<div class="ui fixed menu violet" style="top: initial;">
  <div class="ui container window-draggable-zone">
    <div class="header item" style="width: 95px" data-ui-sref="main"></div>
    <div class="ui dropdown bold item" tabindex="0" suiDropdown>
      {{ 'MENU_PLAY' | translate }}
      <i class="dropdown icon"></i>
      <div class="menu" suiDropdownMenu>
        <div class="item" data-ui-sref="main.play.online" data-ui-sref-active="active" data-translate="MENU_PLAY_ONLINE">Online</div>
        <div class="item" data-ui-sref="main.play.local" data-ui-sref-active="active" data-translate="MENU_PLAY_OFFLINE">Offline with bots</div>
        <div class="divider"></div>
        <div class="item" data-translate="MENU_PLAY_MOD">MODs</div>
      </div>
    </div>
    <div class="ui dropdown item" tabindex="1">
      {{ 'MENU_MAPS' | translate }}
      <!--<i class="dropdown icon"></i>-->
      <div class="menu transition" tabindex="-1">
        <div class="item" data-translate="MENU_MAPS_ONLINE_BROWSE">Browse</div>
        <div class="item" data-translate="MENU_MAPS_INSTALLED">Installed maps</div>
        <div class="divider"></div>
        <!--<div class="item" data-translate="MENU_MAPS_USER">My maps</div>-->
        <div class="item" data-translate="MENU_MAPS_CREATE">Create new one</div>
      </div>
    </div>
    <!--<a class="item">Link</a>-->
    <div class="right menu">
      <!--<div class="item">
                <div class="ui transparent inverted icon input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>-->
      <a class="item icon" data-ng-click="openSettings()"><i class="settings icon"></i></a>
      <a class="item icon" data-ng-click="logout()"><i class="power icon"></i></a>
    </div>
  </div>
</div>