<div class="ui two column grid container">

    <div class="twelve wide column">
        <div class="column">
            <table class="ui selectable striped celled violet inverted table unstackable">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Game</th>
                    <th>Map</th>
                    <th>Slot</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-click="alert('Robo')">
                    <td>...</td>
                    <td>RoBO's game</td>
                    <td>Yuri's Revenge</td>
                    <td>Country Swing</td>
                    <td>1/4</td>
                </tr>
                <tr>
                    <td></td>
                    <td>iCharge's game</td>
                    <td>Mental Omega</td>
                    <td>Heck Freeze Over</td>
                    <td>1/8</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="four wide column">
        <div class="column">
            <h4 class="ui violet inverted top attached block header" style="padding: 0.92900rem 1rem;">Players</h4>
            <div class="ui bottom attached segment" style="padding: 0;">
                <div class="ui attached segments" style="height: 300px; overflow-x: hidden; overflow-y: scroll;">
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
