<div class="ui two column grid container">

    <div class="twelve wide column">
        <div class="column">
            <gameroom-table></gameroom-table>
        </div>
    </div>
    <div class="four wide column">
        <div class="column">
            <h4 class="ui violet inverted top attached block header" style="padding: 0.92900rem 1rem;">Players</h4>
            <div class="ui bottom attached segment" style="padding: 0;">
                <div class="ui attached segments" style="height: 300px; overflow-x: hidden; overflow-y: scroll;">
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                    <div class="ui segment">
                        Player
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
