
// For dragging
.window-draggable-zone {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.no-selection {
  -webkit-user-select: none;
}

// Window
app-root {
  height: 100%;
  display: block;
}

window-frame {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;

  &.frame {
    .row.top {
      display: flex;

      img.center {
        width: 100%;
      }
    }
  }
}

