<div class="row top">
  <img class="left" src="../../../assets/images/border-top-left.png" />
  <img class="center" src="../../../assets/images/border-top.png" />
  <img class="right" src="../../../assets/images/border-top-right.png" />
</div>
<ng-content select="header"></ng-content>
<ng-content select="navbar"></ng-content>
<div class="row middle">
  <div class="left"></div>
  <div class="center">
    <div class="content">
      <ng-content select="router-outlet"></ng-content>
    </div>
  </div>
  <div class="right"></div>
</div>
<div class="row bottom">
  <div class="left"></div>
  <div class="center"></div>
  <div class="right"></div>
</div>