<table id="gameRoom" class="ui selectable striped celled violet inverted table unstackable">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Game</th>
        <th>Map</th>
        <th>Slot</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-click="alert('Robo')">
        <td><img src="public/images/lockedgame.png" alt="" /></td>
        <td>RoBO's game</td>
        <td>Yuri's Revenge</td>
        <td>Country Swing</td>
        <td>1/4</td>
    </tr>
    <tr>
        <td></td>
        <td>iCharge's game</td>
        <td>Mental Omega</td>
        <td>Heck Freeze Over</td>
        <td>1/8</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>1/8</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>1/8</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>1/8</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>1/8</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>1/8</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>1/8</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>1/8</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>1/8</td>
    </tr>
    <tr>
        <td></td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>1/8</td>
    </tr>

    </tbody>
</table>