<style type="text/css">
    body .view,
    .login {
        height: 100%;
    }

    .login .column {
        max-width: 450px;
    }
</style>
<div class="login ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui violet image header">
            <div class="content">
                <img src="public/images/logo_sm.png" class="image" />
            </div>
        </h2>
        <form name="loginForm" class="ui large form" data-ng-submit="submitLogin()">
            <div class="ui stacked segment">
                <div class="field"
                     data-ng-class="{'error' : loginForm.username.$invalid && submitted}">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="{{ 'USERNAME' | translate }}"
                               data-ng-model="formData.username" required/>
                    </div>
                </div>
                <div class="field"
                     data-ng-class="{'error' : loginForm.password.$invalid && submitted}">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="{{ 'PASSWORD' | translate }}"
                               data-ng-model="formData.password" required />
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="remember" data-ng-model="formData.remember" />
                        <label for="remember">{{ 'REMEMBER_ME' | translate }}</label>
                    </div>
                </div>
                <div class="ui two buttons">
                    <button type="button" class="ui fluid large button" onclick="exitApplication()">{{ 'EXIT' | translate }}</button>
                    <button type="submit" class="ui fluid large violet submit button"
                            data-ng-class="loading ? 'loading' : ''"
                            data-ng-disabled="loading"
                            >{{ 'LOGIN' | translate}}</button>
                </div>

            </div>

            <div class="ui error message"></div>

        </form>

        <div class="ui message">
            {{ 'INVITE_TO_REGISTER_MSG' | translate }} <a href="#">{{ 'SIGN_UP' | translate }}</a>
        </div>
        <!--<div class="ui message">
            Node: <script>document.write(process.versions.node)</script><br />
            CEF: <script>document.write(process.versions.chrome)</script><br />
            Electron: <script>document.write(process.versions.electron)</script>
        </div>-->
    </div>
</div>